section.content > div.table-wrapper {
    display: inline-block;
}

a, a:visited, a:focus, a:active {
    color: #276890;
    text-decoration: underline;
}

a:hover {
    color: #0c286d;
}

a.explore {
    font-size: 1.6em;
}

nav ul {
    list-style-type: none;
}

nav li {
    padding: 10px;
    border-top: solid 1px #fff;
}

nav summary {
    font-weight: bold;
}

nav .nav-menu-inner {
    padding: 10px 0;
}

table.rows-and-columns td > div {
    max-height: 100px;
    font-size: 0.8em;
    overflow-y: auto;
    overflow-x: hidden;
}

table.rows-and-columns tr:nth-child(even) {
    background-color: #DDEFFF;
}

h4,.header4 {
    text-decoration: none;
}

table.rows-and-columns td.col-objet > div {
    min-width: 140px;
}

table.rows-and-columns td.col-procedure > div {
    min-width: 140px;
}
